<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/js/scripts.js" type="text/javascript"></script>
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Baloo+Bhaina|Modak|Orbitron|Righteous|Yatra+One" rel="stylesheet">
        <title>Restaurant Page</title>
    </head>
    <body>
        <div id="editPage" class="container">
            <h2 class="columnTitle">{{ restaurant.getName }}</h2>
            <hr>
            <h3>Cost</h3>
            {% for i in 1.. restaurant.getCost %}
            💲
            {% endfor %}
            <h3>Rating</h3>
            {% for i in 1.. restaurant.getRating %}
            🌟
            {% endfor %}
            <hr>
            <p> Here is where the description of this place should be... They have at least edible food stuffs here even if it's not good. </p>
            <br>
            <p> This is where an option to submit a review should be.... </p>
            <hr>
            <form action="/edit_restaurant/{{ restaurant.getId }}" method="post">
                <input name="_method" type="hidden" value="patch">
                <label for="restaurant_name">Rename this restaurant:</label>
                <input id="restaurant_name" name="restaurant_name" type="text">
                <button type="submit" class="btn btn-warning">Edit Restaurant Name</button>
            </form>
            <form action="/edit_restaurant/{{ restaurant.getId }}" method="post">
                <input name="_method" type="hidden" value="delete">
                <br>
                <button type ="submit" class='btn btn-danger btn-sm'>Delete This Restaurant</button>
            </form>
        </div>
    </body>
</html>
