body{
    background-color: #666699
}

li {
    list-style: none;
}

h2 {
    font-size: 40px;
}

#addCuisine {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#pageTitle1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Baloo Bhaina', cursive;
    margin-top: .5em;
}

#pageTitle2 {
    text-align: center;
    font-size: 90px;
    font-style: oblique;
    font-family: 'Baloo Bhaina', cursive;
    margin-top: .5em;
}

#cuisineTypeTitle {
    font-size: 23px;
    font-family: 'Cinzel', serif;
}

.cuisineList{
    color: #d17aa4;
    font-size: 30px;
    margin-left: 15px;
}

.highlighted {
    background-color: #99ff33;
}

#editPage {
    text-align: center;
}

.restaurantList{
    font-size: 30px;
    color: #6699ff;
}

.columnTitle{
    text-align: center;
    font-size: 40px;
    font-family: 'Righteous', cursive;
}

#selectCuisine {
    font-family: 'Alfa Slab One', cursive;
}

#newRestaurantTitle{
    font-size: 25px;
    font-family: 'Cinzel', serif;
}

.restaurantCuisineTitle{
    font-size: 23px;
}

#addRestaurant{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.emoji{
    font-size: 30px;
}
